/* Author: Jeffrey Wuebbles */

body{background-color:#000;color:#ff0}
  h1 {
    text-align: center;
  }
  #loginDiv {
      /* Centers the div on the page */
      margin: auto; 
      text-align: center;
      /* Sets the background image */
      background-image: url("/static/images/keely_standing.jpg");
      background-position: center;
      /* Sets the div's dimensions */
      width: 480px;
      height: 640px;
      /* Creates the border for the div */
      border-style: outset;
      border-width: 2px;
      border-color: grey;
      /* transform: translate(0%, 25%); */
  }
  #newAccountMessage {
      text-align: center;
  }
  
  footer {
      color: #ff0;
      position: bottom;
      text-align: center;
      border-style: outset;
      border-width: 10px;
      border-color: #ff0;
      width: 500px;
      margin: auto;
      margin-top: 50px;
  }

