<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Roulette</title>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/dscim.ico') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/roulette.css') }}">
	<script>
		num_of_bets = 0;
		var base_url = window.location.origin;
		var host = window.location.host;

		console.log(base_url)
		console.log(host)



		function spinWheel() {
			// Get all the bets
			var table = document.getElementById('table');
			var spaces = table.children;
			const bets = [];
			for (let i = 0; i < spaces.length; i++) {
				if (spaces[i].children.length > 0) {
					const bet = [spaces[i].firstChild.data, spaces[i].lastChild.innerText];
					bets.push(bet);
				}
			}
			// Submitting the request to spin the wheel.
			var xhr = new XMLHttpRequest();
			xhr.open("POST", '/makeRouletteBet', true);
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.send(JSON.stringify({bets}));
			xhr.onload = function(res) { // Refreshes the page after a successful post request. I don't know why this works but it does. 
				if (xhr.readyState === 4) {
					if (xhr.status === 200) {
					window.location.replace("http://127.0.0.1:5000/roulette");
					}
				}
			};	
		}

		function clearBets() {
			var table = document.getElementById('table');
			var spaces = table.children
			for (let i = 0; i < spaces.length; i++) {
				if (spaces[i].children.length > 0) {
					var amount_back_to_the_player = parseInt(spaces[i].lastChild.innerHTML)
					var current_players_amount_of_chips = parseInt(document.getElementById('num_of_chips').innerHTML.split(" ")[2])
					current_players_amount_of_chips = current_players_amount_of_chips + parseInt(amount_back_to_the_player)
					document.getElementById('num_of_chips').innerHTML = "You have " + current_players_amount_of_chips + " chips"
					spaces[i].removeChild(spaces[i].lastChild)
				}
			}
		}

		function allowDrop(ev) {
		  ev.preventDefault();
		}
		
		function drag(ev) {
			var current_players_amount_of_chips = parseInt(document.getElementById('num_of_chips').innerHTML.split(" ")[2])
			var bet_amount = parseInt(ev.target.innerHTML)
			if (current_players_amount_of_chips >= bet_amount) {
				ev.dataTransfer.setData("text", ev.target.id);
			}
		}
		
		function drop(ev) {
		  ev.preventDefault();
		  var dragged_element = document.getElementById(ev.dataTransfer.getData("text"));
		  var current_players_amount_of_chips = parseInt(document.getElementById('num_of_chips').innerHTML.split(" ")[2])
		  if (ev.target.className == "chip") {
			ev.target.innerHTML = parseInt(ev.target.innerHTML) + parseInt(dragged_element.innerHTML);
			current_players_amount_of_chips = current_players_amount_of_chips - parseInt(dragged_element.innerHTML)
			document.getElementById('num_of_chips').innerHTML = "You have " + current_players_amount_of_chips + " chips"
		  } else if (ev.target.childNodes.length > 1) {
			var last_child = ev.target.lastChild;
			var current_bet_value = last_child.innerHTML;
			var additional_bet_value = dragged_element.innerHTML;
			last_child.innerHTML = parseInt(current_bet_value) + parseInt(additional_bet_value);
			current_players_amount_of_chips = current_players_amount_of_chips - parseInt(dragged_element.innerHTML)
			document.getElementById('num_of_chips').innerHTML = "You have " + current_players_amount_of_chips + " chips"
		  } else {
			var ele = dragged_element.cloneNode(true);
			ele.id = "betNum" + num_of_bets;
			num_of_bets++;
			ev.target.appendChild(ele);
			current_players_amount_of_chips = current_players_amount_of_chips - parseInt(dragged_element.innerHTML)
			document.getElementById('num_of_chips').innerHTML = "You have " + current_players_amount_of_chips + " chips"
		  }
		}
	</script>
</head>


<body>
	<p id="signed_in_as"> Signed in as {{ account }} </p>
	<p id="num_of_chips">You have {{ num_of_chips }} chips</p>
	
	<div id="table_and_chip_selections">
		<!-- 5 rows
			14 columns -->
		<div id="table">
			<div id="spc_00" class="space green_space col_1">00</div>	
			<div id="spc_0" class="space green_space col_1">0</div>
			<div id="spc_1" class="space red_space col_2">1</div>
			<div id="spc_2" class="space blk_space col_2">2</div>
			<div id="spc_3" class="space red_space col_2">3</div>
			<div id="spc_4" class="space blk_space col_3">4</div>
			<div id="spc_5" class="space red_space col_3">5</div>
			<div id="spc_6" class="space blk_space col_3">6</div>
			<div id="spc_7" class="space red_space col_4">7</div>
			<div id="spc_8" class="space blk_space col_4">8</div>
			<div id="spc_9" class="space red_space col_4">9</div>
			<div id="spc_10" class="space blk_space col_5">10</div>
			<div id="spc_11" class="space blk_space col_5">11</div>
			<div id="spc_12" class="space red_space col_5">12</div>
			<div id="spc_13" class="space blk_space col_6">13</div>
			<div id="spc_14" class="space red_space col_6">14</div>
			<div id="spc_15" class="space blk_space col_6">15</div>
			<div id="spc_16" class="space red_space col_7">16</div>
			<div id="spc_17" class="space blk_space col_7">17</div>
			<div id="spc_18" class="space red_space col_7">18</div>
			<div id="spc_19" class="space red_space col_8">19</div>
			<div id="spc_20" class="space blk_space col_8">20</div>
			<div id="spc_21" class="space red_space col_8">21</div>
			<div id="spc_22" class="space blk_space col_9">22</div>
			<div id="spc_23" class="space red_space col_9">23</div>
			<div id="spc_24" class="space blk_space col_9">24</div>
			<div id="spc_25" class="space red_space col_10">25</div>
			<div id="spc_26" class="space blk_space col_10">26</div>
			<div id="spc_27" class="space red_space col_10">27</div>
			<div id="spc_28" class="space blk_space col_11">28</div>
			<div id="spc_29" class="space blk_space col_11">29</div>
			<div id="spc_30" class="space red_space col_11">30</div>
			<div id="spc_31" class="space blk_space col_12">31</div>
			<div id="spc_32" class="space red_space col_12">32</div>
			<div id="spc_33" class="space blk_space col_12">33</div>
			<div id="spc_34" class="space red_space col_13">34</div>
			<div id="spc_35" class="space blk_space col_13">35</div>
			<div id="spc_36" class="space red_space col_13">36</div>
			<div id="r_3" class="space">2 to 1</div>
			<div id="r_2" class="space">2 to 1</div>
			<div id="r_1" class="space">2 to 1</div>
			<div id="g1_12" class="space">1st 12</div>
			<div id="g13_24" class="space">2nd 12</div>
			<div id="g25_36" class="space">3rd 12</div>
			<div id="g1_18" class="space">1 to 18</div>
			<div id="even" class="space">EVEN</div>
			<div ondrop="drop(event)" ondragover="allowDrop(event)" id="redSel" class="space">Red</div>
			<div ondrop="drop(event)" ondragover="allowDrop(event)" id="blkSel" class="space">Black</div>
			<div id="odd" class="space">ODD</div>
			<div id="g19_36" class="space">19t36</div>
		</div>

		<div id="chip_selection_row">
			<div draggable="true" ondragstart="drag(event)" class="chip" id="fiveChip">5</div>
		</div>
	</div>
	
	<a href="main"><button class=grey style="height:75px;width:150px">Main</button></a>

	<div id="menu_bar">
		<button onclick="spinWheel()">Spin Wheel</button>
		<button onclick="clearBets()">Clear Bets</button>
	</div>
</body>
</html>