<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Jeff's asdfs Tracker</title>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/dscim.ico') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/signin.css') }}">
</head>

<body>
	<h1> Welcome lads! Lets see who the best degenerate is. </h1>
	
	<div id="loginDiv">
	<!-- Turning autocomplete on allows the browser to complete values the user has used before. -->
		<form action="/" method="post" autocomplete="on">
			<label for="uname">User name:</label><br>
			<input type="text" id="uname" name="uname" required>
			<input type="submit" value="Submit Form">
		</form>
	</div>
	
	<footer>
		<p>Author: Jeffrey Wuebbles<br>
		I'm open to ideas and suggestions.</a></p>
	</footer>
</body>



</html>