/* Author: Jeffrey Wuebbles */

body {
    background-color: gray;
  }

#spc_1 {
    position: absolute;
    top:240px;
    left:252px;
}
#spc_2 {
    position: absolute;
    top:170px;
    left:252px;
}
#spc_3 {
    position: absolute;
    top:100px;
    left:252px;
}
#spc_4 {
    position: absolute;
    top:240px;
    left:354px;
}
#spc_5 {
    position: absolute;
    top:170px;
    left:354px;
}
#spc_6 {
    position: absolute;
    top:100px;
    left:354px;
}
#spc_7 {
    position: absolute;
    top:240px;
    left:456px;
}
#spc_8 {
    position: absolute;
    top:170px;
    left:456px;
}
#spc_9 {
    position: absolute;
    top:100px;
    left:456px;
}
#spc_10 {
    position: absolute;
    top:240px;
    left:558px;
}
#spc_11 {
    position: absolute;
    top:170px;
    left:558px;
}
#spc_12 {
    position: absolute;
    top:100px;
    left:558px;
}
#spc_13 {
    position: absolute;
    top:240px;
    left:660px;
}
#spc_14 {
    position: absolute;
    top:170px;
    left:660px;
}
#spc_15 {
    position: absolute;
    top:100px;
    left:660px;
}
#spc_16 {
    position: absolute;
    top:240px;
    left:762px;
}
#spc_17 {
    position: absolute;
    top:170px;
    left:762px;
}
#spc_18 {
    position: absolute;
    top:100px;
    left:762px;
}
#spc_19 {
    position: absolute;
    top:240px;
    left:864px;
}
#spc_20 {
    position: absolute;
    top:170px;
    left:864px;
}
#spc_21 {
    position: absolute;
    top:100px;
    left:864px;
}
#spc_22 {
    position: absolute;
    top:240px;
    left:966px;
}
#spc_23 {
    position: absolute;
    top:170px;
    left:966px;
}
#spc_24 {
    position: absolute;
    top:100px;
    left:966px;
}
#spc_25 {
    position: absolute;
    top:240px;
    left:1068px;
}
#spc_26 {
    position: absolute;
    top:170px;
    left:1068px;
}
#spc_27 {
    position: absolute;
    top:100px;
    left:1068px;
}
#spc_28 {
    position: absolute;
    top:240px;
    left:1170px;
}
#spc_29 {
    position: absolute;
    top:170px;
    left:1170px;
}
#spc_30 {
    position: absolute;
    top:100px;
    left:1170px;
}
#spc_31 {
    position: absolute;
    top:240px;
    left:1272px;
}
#spc_32 {
    position: absolute;
    top:170px;
    left:1272px;
}
#spc_33 {
    position: absolute;
    top:100px;
    left:1272px;
}
#spc_34 {
    position: absolute;
    top:240px;
    left:1374px;
}
#spc_35 {
    position: absolute;
    top:170px;
    left:1374px;
}
#spc_36 {
    position: absolute;
    top:100px;
    left:1374px;
}

#r_3 {
  position: absolute;
  left: 1476px;
  top: 100px;
  background: blue;
  color: white;
  border-color: white;
}

#r_2 {
  position: absolute;
  left: 1476px;
  top: 170px;
  background: blue;
  color: white;
  border-color: white;
}

#r_1 {
  position: absolute;
  left: 1476px;
  top: 240px;
  background: blue;
  color: white;
  border-color: white;
}

  #g1_12 {
    position: absolute;
    top: 310px;
    left: 252px;
    width: 357px;
    color: white;
    border-color: white;
    background-color: blue;
  }

  #g13_24 {
    position: absolute;
    top: 310px;
    left: 660px;
    width: 356px;
    color: white;
    border-color: white;
    background-color: blue;
  }

  #g25_36 {
    position: absolute;
    top: 310px;
    left: 1068px;
    width: 357px;
    color: white;
    border-color: white;
    background-color: blue;
  }

  #g1_18 {
    position: absolute;
    top: 380px;
    left: 252px;
    width: 153px;
    color: white;
    border-color: white;
    background-color: green;
  }

  #even {
    position: absolute;
    top: 380px;
    left: 456px;
    width: 153px;
    color: white;
    border-color: white;
    background-color: green;
  }

  #redSel {
    position: absolute;
    background-color: red;
    color: black;
    top: 380px;
    left: 660px;
    width: 153px;
  }

  #blkSel {
    position: absolute;
    background-color: black;
    color: red;
    top: 380px;
    left: 864px;
    width: 153px;
  }

  #odd {
    position: absolute;
    top: 380px;
    left: 1068px;
    width: 153px;
    color: white;
    border-color: white;
    background-color: green;
  }

  #g19_36 {
    position: absolute;
    top: 380px;
    left: 1272px;
    width: 153px;
    color: white;
    border-color: white;
    background-color: green;
  }

  #spc_00 {
    position: absolute;
    top: 100px;
    left: 110px;
  } 

  #spc_0 {
    position: absolute;
    top: 200px;
    left: 110px;
  }

  .space {
    cursor: pointer;
    width: 50px;
    border: 1px solid black;
    text-align: center;
    padding: 25px;
  }

  .green_space {
    color: white;
    background-color: green;
    padding: 45px
  }

  .red_space {
    color: white;
    background-color: red;
  }

  .blk_space {
    color: white;
    background-color: black;
  }

  .chip {
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #bbb;
    display: inline-block;
    text-align: center;
  }

  #chip_selection_row {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    top: 460px;
    left: 252px;
  }

  #fiveChip {
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #bbb;
    display: inline-block;
    text-align: center;
  }

  #table_and_chip_selections {
    position: fixed;
    top: 10%;
    left: 5%;
    background-color: blue;
  }
