<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/gen_signin.css') }}">
  </head>
  <body>
    <div class="container">
      <form class="form" action="" method="post">
        <h1 class="form__title">Sign In</h1>
        <div class="form__group">
          <label for="username" class="form__label">Username</label>
          <input type="text" class="form__input" id="username" name="username" required>
        </div>
        <div class="form__group">
          <label for="password" class="form__label">Password</label>
          <input type="password" class="form__input" id="password" name="password" required>
        </div>
        <button class="form__button" type="submit">Sign In</button>
      </form>
    </div>
  {% if newaccount %}
	<p id="newAccountMessage">Account "{{ newaccount }}" created! <br> You may now sign in with it.</p>
	{% endif %}
  </body>
</html>
