<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Jeff's Flask Site</title>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/dscim.ico') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>

<body>
	<h1> Main Page </h1>

	<p>You are logged in as: {{ session['username'] }}</p>
	
	<p align="left">
        <a href=roulette >
            <button class=grey style="height:75px;width:150px">Roulette</button>
        </a>
    </p>
	<p align="left">
        <a href=logout >
            <button class=grey style="height:75px;width:150px">logout</button>
        </a>
    </p>

	<footer>
		<p>Author: Jeffrey Wuebbles</p>
	</footer>
</body>
</html>