<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Jeff's Flask Site</title>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/dscim.ico') }}">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/menu.css') }}">
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
</head>

<body>
	<h1> Main Page </h1>

	<p>You are logged in as: {{ session['username'] }}</p>
    
	<div align="left">
        <button id='rouletteButton' class=grey style="height:75px;width:150px">Roulette</button>
    </div>

	<div align="left">
        <button id='leagueButton' class=grey style="height:75px;width:150px">Submit a Leage Of Legends Game KDA.</button>
    </div>

	<div align="left">
        <button id='logoutButton' class=grey style="height:75px;width:150px">logout</button>
    </div>

    <div>
        <img id="ciggyGif" src="{{ url_for('static', filename='gifs/ciggy.gif') }}" alt="ciggy GIF" style="display: none;">
    </div>

	<footer>
		<p>Author: Jeffrey Wuebbles</p>
	</footer>
</body>
</html>