<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Roulette</title>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/dscim.ico') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/roulette2.css') }}">
		
</head>


<body>
	<p id="signed_in_as"> Signed in as {{ account }} </p>
	<p id="num_of_chips">You have {{ num_of_chips }} chips</p>
	
    <!--
	<div id="table_and_chip_selections">
		<!-- 5 rows
			14 columns 	

		<div id="chip_selection_row">
			<div draggable="true" ondragstart="drag(event)" class="chip" id="fiveChip">5</div>
		</div>
	</div>-->

    <!--
    <div id="spc_00" class="space green_space col_1">00</div>	
    <div id="spc_0" class="space green_space col_1">0</div>-->


    <div class="redBlackTable">
        <div class="top_row">
            <div class="red_space">3</div>
            <div class="blk_space">6</div>
            <div class="red_space">9</div>
            <div class="blk_space">12</div>
            <div class="red_space">15</div>
            <div class="blk_space">18</div>
            <div class="red_space">21</div>
            <div class="blk_space">24</div>
            <div class="red_space">27</div>
            <div class="blk_space">30</div>
            <div class="red_space">33</div>
            <div class="blk_space">36</div>
        </div>
        <div class="middle_row">

        </div>
        <div class="bottom_row">
            
        </div>
        <!--
        <div id="r_3" class="space">2 to 1</div>
        <div id="r_2" class="space">2 to 1</div>
        <div id="r_1" class="space">2 to 1</div>
        <div id="g1_12" class="space">1st 12</div>
        <div id="g13_24" class="space">2nd 12</div>
        <div id="g25_36" class="space">3rd 12</div>
        <div id="g1_18" class="space">1 to 18</div>
        <div id="even" class="space">EVEN</div>
        <div ondrop="drop(event)" ondragover="allowDrop(event)" id="redSel" class="space">Red</div>
        <div ondrop="drop(event)" ondragover="allowDrop(event)" id="blkSel" class="space">Black</div>
        <div id="odd" class="space">ODD</div>
        <div id="g19_36" class="space">19t36</div>-->
        </div>
	
	<a href="main"><button class=grey style="height:75px;width:150px">Main</button></a>

	<div id="menu_bar">
		<button onclick="spinWheel()">Spin Wheel</button>
		<button onclick="clearBets()">Clear Bets</button>
	</div>
</body>
</html>