<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>Jeff's Flask Experiment</title>
		<link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/dscim.ico') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/signin.css') }}">
	</head>

	<body>
		<h1>Welcome!</h1>
		{% if newaccount %}
			<p id="newAccountMessage">Account "{{ newaccount }}" created! <br> You may now sign in with it.</p>
		{% elif needToSignIn %}
			<p id="newAccountMessage">Please sign in first, or enter a username to create an account.</p>
		{% elif not newaccount %}
			<p id="newAccountMessage">Enter a username to create a new account.</p>

		{% endif %}
		
		<div id="loginDiv">
		<!-- Turning autocomplete on allows the browser to complete values the user has used before. -->
			<form action="/" method="post" autocomplete="on">
				<input type="text" id="uname" name="uname" placeholder="User Name" required>
				<input type="submit" value="Sign in">
			</form>
		</div>

		<div id="registerDiv">
			<!-- Turning autocomplete on allows the browser to complete values the user has used before. -->
				<form action="/registerNewAccount" method="post" autocomplete="on">
					<label for="registerUsername">Username:</label>
					<input type="text" id="registerUsername" name="registerUsername" placeholder="User Name" required>
					<label for="registerPassword">Password:</label>
					<input type="text" id="registerPassword" name="registerPassword" required>
					<label for="email">(Optional) Enter your email:</label>
					<input type="email" id="email" pattern=".+@globex\.com" size="20">
					<input type="submit" value="Register User">
				</form>
		</div>
	</body>
</html>